.outerwrapper {
  width:80%;
  margin:auto;
}

#top-twitter-feed {
  width:100%;
  min-height:40px;
  max-height:40px;
}

.title-and-nav-content {
  width:100%;
  margin:auto;
}
.title-logo {
  margin:auto;
  width:50%;
}

.title-content {
  width:80%;
  min-height: 140px;
  margin:auto;
}
.title-description {
  width:80%;
  margin:auto;
}
.title-nav {
  width:80%;
  min-height:100px;
  margin:auto;
}
.title-nav li{
  display:inline;
}
.section-link {
  width:25%;
  float:left;
}
.main-content {
  width:80%;
  height: 700px;
}
.twitter-feed {
  width:20%;
  float:right;
  height:700px;
}

#tweets li {
  list-style:none;
}

#tweets {
  max-height:40px;
  overflow: hidden;
}


