.navbar-inner {
	background-image: linear-gradient(to bottom, #222222, #111111);
	border-color: #252525;
}
html, body{
				height: 100%;
				width: 100%;
			}
			.hero-unit{
				text-align: center;
				background: #959595; /* Old browsers */
				background: -moz-linear-gradient(-45deg,  #959595 0%, #0d0d0d 46%, #010101 50%, #0a0a0a 53%, #4e4e4e 76%, #383838 87%, #1b1b1b 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#959595), color-stop(46%,#0d0d0d), color-stop(50%,#010101), color-stop(53%,#0a0a0a), color-stop(76%,#4e4e4e), color-stop(87%,#383838), color-stop(100%,#1b1b1b)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(-45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(-45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(-45deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* IE10+ */
				background: linear-gradient(135deg,  #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
				color: #FFFFFF;
				height: 600px;
			}
			.cbody{
				height: 700px;
			}
			#aboutPage{
				background-image: url("../img/ex-background1.jpg");
			}
			#treatmentPage{
				background-image: url("../img/ex-background2.png");
			}
			#mapPage{
				background-image: url("../img/ex-background3.png");
			}
			#map{
				height: 50%;
				width: 50%;
				margin-left: auto;
				margin-right: auto;
			}
			#autocomplete{
				width: 100%;
			}